@import "_variables.scss";

html {
    scroll-behavior:smooth;
    scroll-padding-top:var(--sb-200);
    @include breakpoint($medium) {
        scroll-padding-top:var(--sb-200);
    }
    @include breakpoint($large) {
        scroll-padding-top: 54px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family:var(--os-default-font);
    background-color:var(--background-color);
    color:var(--text-color-hard);
}

a {
    font-weight:700;
    color:var(--text-color-hard);
    text-decoration: underline;
    &:hover {
        color:var(--text-color-hardest);
        text-decoration: underline;
    }
}

.grid {
    width:100%;
    max-width:var(--gridMaxWidth);
    padding-left: var(--spacingDefault);
    padding-right: var(--spacingDefault);
    margin-left: auto;
    margin-right: auto;
}


.modal-dialog {
    //margin: var(--sb-100);
    .modal-content {
        background-color: var(--colorStaticGrey800);
        color: var(--colorStaticGrey300);
        a {
            color: var(--colorStaticGrey300);
        }
        .modal-header {
            border-bottom-color: var(--colorStaticGrey700);
            .btn-close {
                filter: invert(1);
            }
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sb-050);
    padding: var(--sb-075) var(--sb-100);
    background: var(--colorStaticGrey700);
    //background: rgba(33,33,33,0.66);
    //border: 1px solid rgba(255,255,255,0.33);
    border:none;
    transition: none;
    // &#playpause {
    //     width:80px;
    //     height:80px;
    //     border-radius: 100%;
    //     border:2px solid #FFF;
    //     .material-symbols-sharp {
    //         font-size: 2.5rem;
    //     }
    //     #playtext {
    //         display: none;
    //     }
    // }
    &:hover {
        //background-color: rgba(33,33,33,0.9);
        background: var(--colorStaticGrey600);
        //border-color: rgba(255,255,255,0.66);
    }
}










.ctn {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #e91e63;
    .live-indicator-and-location {
        position: absolute;
        z-index: 1;
        left: var(--sb-100);
        top: var(--sb-100);
        display: flex;
        align-items: center;
        gap: var(--sb-050);
        padding-right: var(--sb-050);
        background-color: var(--colorStaticGrey800);
        color: var(--colorStaticGrey100);
        font-weight: 600;
        //font-size: 0.875rem;
        //text-transform: uppercase;
        border-radius: 4px;
        overflow: hidden;
    }
    .live-indicator {
        display: flex;
        align-items: center;
        gap: var(--sb-025);
        padding: var(--sb-025) var(--sb-050);
        background-color: #ef5350;
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        .material-symbols-sharp {
            font-size: 0.875rem;
            animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
        }
    }
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        transform: translate3d(-50%,-50%,0);
        pointer-events: none;
        @media (min-aspect-ratio: 16/9) {
            height: 56.25vw;
        }
        @media (max-aspect-ratio: 16/9) {
            width: 177.78vh;
            //transform: translate3d( calc( 177.78vh - 250vw ) , -50% , 0 );
            //transform: translate3d( calc( ( 50% * -1 ) - ( 177.78vh - 15vw) ) , -50% , 0 );
            //transform: translate3d( calc( ( 50% * -1 ) - ( 100vw - 177.78vh) ) , -50% , 0 );
            //transform: translate3d( calc( ( 50% * -1 ) - 77.78vh ) , -50% , 0 );
            //transform: translate3d(calc( ( 50% * -1 ) - 15vw ), -50%, 0);
            //transform: translate3d( -85% , -50%, 0);
            //animation: pan 10s infinite linear;
        }
    }
    audio {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .controls {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--sb-100);
        position: absolute;
        z-index: 1;
        padding: var(--sb-100);
        bottom: 0;
        left: 0;
        width:100%;
        //right: var(--position);
        //padding: var(--sb-100);
        //background-color: #000;
        //color: var(--colorStaticGrey200);
        //border-radius:100px;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: var(--colorStaticGrey800);
        .logo {
            display: block;
            max-width: 200px;
            img {
                max-width: 100%;
            }
        }

        .button {
            padding:0;
            background:none;
            border:none;
            transform: rotate(180deg);
            .bar {
                border-radius: 2px;
            }
            #bar1 {
                animation: bar1 1.2s infinite linear;
            }

            #bar2 {
                animation: bar2 0.8s infinite linear;
            }

            #bar3 {
                animation: bar3 1s infinite linear;
            }

            #bar4 {
                animation: bar4 0.7s infinite linear;
            }
            &.muted {
                opacity:0.5;
                &:hover {
                    opacity:0.66;
                }
            }
        }
        @include breakpoint($small) {
            justify-content: center;
            .logo {
                text-align: center;
                width:100%;
                max-width:100%;
                img {
                    max-width:300px;
                }
            }
        }
    }
}


.videos {
    display: grid;
    gap: var(--sb-200);
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    margin-bottom: 5vh;
    // iframe {
    //     position: relative;
    //     &:after {
    //         position:absolute;
    //         top:100%;
    //         left:0;
    //         content: attr(src);
    //     }
    // }
    > * {
        > .label {
            position:absolute;
            z-index: 2;
            top: auto;
            bottom: var(--sb-100);
            left: var(--sb-100);
            width: auto;
            height: auto;
            padding:var(--sb-025) var(--sb-050);
            background-color: var(--colorStaticGrey800);
            color: var(--colorStaticGrey100);
            border-radius: 2px;
        }
    }
}

























  
@keyframes bar1 {
    0% {
      height: 2px;
    }
    50% {
      height: 8px;
    }
    100% {
      height: 2px;
    }
}
  
  @keyframes bar2 {
    0% {
      height: 5px;
    }
    40% {
      height: 1px;
    }
    80% {
      height: 10px;
    }
    100% {
      height: 5px;
    }
  }
  
  @keyframes bar3 {
    0% {
      height: 10px;
    }
    50% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  
  @keyframes bar4 {
    0% {
      height: 2px;
    }
    50% {
      height: 0px;
    }
    100% {
      height: 2px;
    }
  }

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes pan {
    0% {
        transform: translate3d(-50%,-50%,0);
    }
    25% {
        transform: translate3d(-85%,-50%,0);
        //transform: translate3d(-115vh,-50%,0);
    }
    75% {
        transform: translate3d(-15%,-50%,0);
        //transform: translate3d(-15vh,-50%,0);
    }
    100% {
        transform: translate3d(-50%,-50%,0);
    }
}